* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  color: #333;
}
img {
  display: block;
  width: 100%;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 1rem;
  background-image: linear-gradient(to top left, #ffe3e3 0%, #ffc9c9 100%);
}
.header {
  display: flex;
  gap: 2rem;
}
.header__title {
  font-size: 8rem;
  color: #fa5252;
}
.header__icon {
  width: 5rem;
  stroke: #c92a2a;
}
main {
  position: relative;
  width: 90%;
  max-width: 1400px;
  display: flex;
}

.player {
  width: 50%;
  padding: 4rem;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  background-color: #ff6b6b;
  opacity: 0.6;
  border-radius: 24px;
}
.player--0 {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.player--1 {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.name {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 2.6rem;
}
.score {
  font-size: 3rem;
}
.flag__img {
  position: absolute;
  width: 20rem;
  height: 12rem;
  left: 50%;
  top: 2rem;
  transform: translateX(-50%);
}

.spinner {
  position: absolute;
  left: 50%;
  top: 2rem;
  transform: translateX(-50%);
}

.spinner svg {
  fill: white;
  width: 3rem;
  height: 3rem;
  animation: 2s linear infinite rotate;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
.options {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.option:last-child {
  margin-bottom: 12px;
}
.btn {
  padding: 1.4rem 6rem;
  border: none;
  color: #000;
  font-weight: 600;
  background-color: #ffe3e3;
  font-size: 2rem;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
}
.answer {
  font-size: 4rem;
  letter-spacing: 0.4rem;
  font-weight: 400;
}
.answer--correct {
  color: green;
}
.answer--wrong {
  color: red;
}
.winner {
  font-size: 3rem;
  color: white;
  letter-spacing: 0.6rem;
  background-color: green;
  padding: 6px 18px;
  border-radius: 6px;
}

.player--active {
  opacity: 1;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.hidden {
  display: none;
}
.btn {
  padding: 8px 24px;
}
.btn--next {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 1rem;
}
.form-container {
  margin-top: 3rem;
  background-color: #ffe3e3;
  padding: 5rem 13rem;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.form-container > .form {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
  align-items: center;
}
.form--player-names {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.form--radio-buttons {
  display: flex;
  gap: 2rem;
}
.form--radio-buttons label {
  margin-left: 0.7rem;
}
.form__label {
  font-size: 2rem;
}
.form__label:first-child {
  margin-right: 1rem;
}
.form__btn {
  background-color: #fa5252;
  font-size: 1.8rem;
}
input[type="text"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type="radio"] {
  transform: scale(1.5);
  accent-color: #f03e3e;
}
@media only screen and (max-width: 800px) {
  html {
    font-size: 6px;
  }
  .flag__img {
    width: 14rem;
    height: 8rem;
  }
  .header__title {
    font-size: 6rem;
  }
}
